org.knime.core/src/org/knime/core/node/port/pmml/schemata/pmml-2-1.xsd

<?xml version="1.0"?>
<xs:schema 
  xmlns:xs='http://www.w3.org/2000/10/XMLSchema'
  targetNamespace='http://www.dmg.org/PMML-2_1'
  xmlns='http://www.dmg.org/PMML-2_1'
  elementFormDefault='unqualified'>




 <xs:element name='PMML'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='Header'/>
    <xs:element ref='MiningBuildTask' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='DataDictionary'/>
    <xs:element ref='TransformationDictionary' minOccurs='0' maxOccurs='1'/>
    <xs:sequence minOccurs='0' maxOccurs='unbounded'>
     <xs:choice>
      <xs:element ref='TreeModel'/>
      <xs:element ref='NeuralNetwork'/>
      <xs:element ref='ClusteringModel'/>
      <xs:element ref='RegressionModel'/>
      <xs:element ref='GeneralRegressionModel'/>
      <xs:element ref='NaiveBayesModel'/>
      <xs:element ref='AssociationModel'/>
      <xs:element ref='SequenceModel'/>
     </xs:choice>
    </xs:sequence>
    <xs:element ref='Extension' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
   <xs:attribute name='version' type='xs:string' use='required'/>
  </xs:complexType>
 </xs:element>


 

 <xs:element name='MiningBuildTask'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='Extension' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>


 

  <xs:simpleType name="MINING-FUNCTION">
     <xs:restriction base='xs:string'>
      <xs:enumeration value='associationRules'/>
      <xs:enumeration value='sequences'/>
      <xs:enumeration value='classification'/>
      <xs:enumeration value='regression'/>
      <xs:enumeration value='clustering'/>
     </xs:restriction>
  </xs:simpleType>


 

 <xs:element name='Extension'>
  <xs:complexType>
   <xs:sequence>
   <any namespace='http://www.dmg.org'/>
   </xs:sequence>
   <xs:attribute name='extender' type='xs:string' use='optional'/>
   <xs:attribute name='name' type='xs:string' use='optional'/>
   <xs:attribute name='value' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>

 

  <xs:simpleType name='NUMBER'>
   <xs:restriction base='xs:double'>
   </xs:restriction>
  </xs:simpleType>


 

  <xs:simpleType name='INT-NUMBER'>
   <xs:restriction base='xs:integer'>
   </xs:restriction>
  </xs:simpleType>


 

  <xs:simpleType name='REAL-NUMBER'>
   <xs:restriction base='xs:double'>
   </xs:restriction>
  </xs:simpleType>


 

  <xs:simpleType name='PROB-NUMBER'>
   <xs:restriction base='xs:decimal'>
   </xs:restriction>
  </xs:simpleType>


 

  <xs:simpleType name='PERCENTAGE-NUMBER'>
   <xs:restriction base='xs:decimal'>
   </xs:restriction>
  </xs:simpleType>


 

  <xs:simpleType name='FIELD-NAME'>
   <xs:restriction base='xs:string'>
   </xs:restriction>
  </xs:simpleType>


 

 <xs:element name='Array'>
  <xs:complexType mixed='true'>
   <xs:attribute name='n' type='INT-NUMBER' use='optional'/>
   <xs:attribute name='type' use='optional'>
    <xs:simpleType>
     <xs:restriction base='xs:string'>
      <xs:enumeration value='int'/>
      <xs:enumeration value='real'/>
      <xs:enumeration value='string'/>
     </xs:restriction>
    </xs:simpleType>
   </xs:attribute>
  </xs:complexType>
 </xs:element>


 

  <xs:simpleType name='NUM-ARRAY'>
   <xs:restriction base='Array'>
   </xs:restriction>
  </xs:simpleType>


 

  <xs:simpleType name='INT-ARRAY'>
   <xs:restriction base='Array'>
   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name='REAL-ARRAY'>
   <xs:restriction base='Array'>
   </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name='STRING-ARRAY'>
   <xs:restriction base='Array'>
   </xs:restriction>
  </xs:simpleType>


 

  <xs:element name="Header">
    <xs:complexType>
      <xs:sequence>
	<xs:element minOccurs="0" ref="Application" />
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="Annotation" />
	<xs:element minOccurs="0" ref="Timestamp" />
      </xs:sequence>
      <xs:attribute name="copyright" type="xs:string" use="required" />
      <xs:attribute name="description" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <xs:element name="Application">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="version" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <xs:element name="Annotation" type="xs:string" />

  <xs:element name="Timestamp" type="xs:string" />


 

  <xs:element name="DataDictionary">
    <xs:complexType>
      <xs:sequence>
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="Extension" />
	<xs:element maxOccurs="unbounded" ref="DataField" />
      </xs:sequence>
      <xs:attribute name="numberOfFields" type="INT-NUMBER" />
    </xs:complexType>
  </xs:element>

  <xs:element name="DataField">
    <xs:complexType>
      <xs:sequence>
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="Extension" />
	<xs:choice>
	  <xs:element minOccurs="0" maxOccurs="unbounded" ref="Interval" />
	  <xs:element minOccurs="0" maxOccurs="unbounded" ref="Value" />
	</xs:choice>
      </xs:sequence>
      <xs:attribute name="name" type="FIELD-NAME" use="required" />
      <xs:attribute name="displayName" type="xs:string" />
      <xs:attribute name="optype" use="required">
	<xs:simpleType>
	  <xs:restriction base="xs:string">
	    <xs:enumeration value="categorical" />
	    <xs:enumeration value="ordinal" />
	    <xs:enumeration value="continuous" />
	  </xs:restriction>
	</xs:simpleType>
      </xs:attribute>
      <xs:attribute name="dataType" use="required">
	<xs:simpleType>
	  <xs:restriction base="xs:string">
	    <xs:enumeration value="string" />
	    <xs:enumeration value="integer" />
	    <xs:enumeration value="float" />
	    <xs:enumeration value="double" />
	    <xs:enumeration value="boolean" />
	  </xs:restriction>
	</xs:simpleType>
      </xs:attribute>
      <xs:attribute name="isCyclic" default="0">
	<xs:simpleType>
	  <xs:restriction base="xs:string">
	    <xs:enumeration value="0" />
	    <xs:enumeration value="1" />
	  </xs:restriction>
	</xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>


 

  <xs:element name="Value">
    <xs:complexType>
      <xs:sequence>
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="Extension" />
      </xs:sequence>
      <xs:attribute name="value" type="xs:string" use="required" />
      <xs:attribute name="displayValue" type="xs:string" />
      <xs:attribute name="property" default="valid">
	<xs:simpleType>
	  <xs:restriction base="xs:string">
	    <xs:enumeration value="valid" />
	    <xs:enumeration value="invalid" />
	    <xs:enumeration value="missing" />
	  </xs:restriction>
	</xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>


 

  <xs:element name="Interval">
    <xs:complexType>
      <xs:attribute name="closure" use="required">
	<xs:simpleType>
	  <xs:restriction base="xs:string">
	    <xs:enumeration value="openClosed" />
	    <xs:enumeration value="openOpen" />
	    <xs:enumeration value="closedOpen" />
	    <xs:enumeration value="closedClosed" />
	  </xs:restriction>
	</xs:simpleType>
      </xs:attribute>
      <xs:attribute name="leftMargin" type="NUMBER" />
      <xs:attribute name="rightMargin" type="NUMBER" />
    </xs:complexType>
  </xs:element>


 

 <xs:element name='Taxonomy'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='ChildParent' maxOccurs='unbounded'/>
   </xs:sequence>
   <xs:attribute name='name' type='xs:string' use='required'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='ChildParent'>
  <xs:complexType>
   <choice>
    <xs:element ref='TableLocator'/>
    <xs:element ref='InlineTable'/>
   </choice>
   <xs:attribute name='childField' type='xs:string' use='required'/>
   <xs:attribute name='parentField' type='xs:string' use='required'/>
   <xs:attribute name='parentLevelField' type='xs:string' use='optional'/>
   <xs:attribute name='isRecursive' use='optional' default='no'>
    <xs:simpleType>
     <xs:restriction base='string'>
      <xs:enumeration value='no'/>
      <xs:enumeration value='yes'/>
     </xs:restriction>
    </xs:simpleType>
   </xs:attribute>
  </xs:complexType>
 </xs:element>

 <xs:element name='TableLocator'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='Extension' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>

 <xs:element name='InlineTable'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='Extension' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element ref='row' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>


 <xs:element name="row" type="xs:anyType"/>



 

  <xs:group name="EXPRESSION">
    <xs:choice>
      <xs:element ref="Constant" />
      <xs:element ref="FieldRef" />
      <xs:element ref="NormContinuous" />
      <xs:element ref="NormDiscrete" />
      <xs:element ref="Discretize" />
      <xs:element ref="MapValues" />
      <xs:element ref="Aggregate" />
    </xs:choice>
  </xs:group>

  <xs:element name="TransformationDictionary">
    <xs:complexType>
      <xs:sequence>
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="Extension" />
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="DerivedField" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="DerivedField">
    <xs:complexType>
      <xs:sequence>
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="Extension" />
	<xs:group ref="EXPRESSION" />
      </xs:sequence>
      <xs:attribute name="name" type="FIELD-NAME" />
      <xs:attribute name="displayName" type="xs:string" />
    </xs:complexType>
  </xs:element>


 

  <xs:element name="Constant">
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="Value" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="FieldRef">
    <xs:complexType>
      <xs:attribute name="field" type="FIELD-NAME" use="required" />
    </xs:complexType>
  </xs:element>


 
 

  <xs:element name="NormContinuous">
    <xs:complexType>
      <xs:sequence>
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="Extension" />
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="LinearNorm" />
      </xs:sequence>
      <xs:attribute name="field" type="FIELD-NAME" use="required" />
    </xs:complexType>
  </xs:element>


 
 

  <xs:element name="LinearNorm">
    <xs:complexType>
      <xs:attribute name="orig" type="NUMBER" use="required" />
      <xs:attribute name="norm" type="NUMBER" use="required" />
    </xs:complexType>
  </xs:element>


 
 

  <xs:element name="NormDiscrete">
    <xs:complexType>
      <xs:sequence>
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="Extension" />
      </xs:sequence>
      <xs:attribute name="field" type="FIELD-NAME" use="required" />
      <xs:attribute name="method" fixed="indicator">
	<xs:simpleType>
	  <xs:restriction base="xs:string">
	    <xs:enumeration value="indicator" />
	    <xs:enumeration value="thermometer" />
	  </xs:restriction>
	</xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>


 

  <xs:element name="Discretize">
    <xs:complexType>
      <xs:sequence>
	<xs:element maxOccurs="unbounded" ref="DiscretizeBin" />
      </xs:sequence>
      <xs:attribute name="field" type="FIELD-NAME" use="required" />
    </xs:complexType>

  </xs:element>
  <xs:element name="DiscretizeBin">
    <xs:complexType>
      <xs:sequence>
	<xs:element ref="Interval" />
      </xs:sequence>
      <xs:attribute name="binValue" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>


 
 

  <xs:element name="MapValues">
    <xs:complexType>
      <xs:sequence>
	<xs:element maxOccurs="unbounded" ref="FieldColumnPair" />
	<xs:choice>
	  <xs:element ref="TableLocator" />
	  <xs:element ref="InlineTable" />
	</xs:choice>
      </xs:sequence>
      <xs:attribute name="outputColumn" type="xs:string" use="required" />
      <xs:attribute name="defaultValue" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <xs:element name="FieldColumnPair">
    <xs:complexType>
      <xs:attribute name="field" type="FIELD-NAME" use="required" />
      <xs:attribute name="column" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>



 

  <xs:element name="Aggregate">
    <xs:complexType>
      <xs:attribute name="field" type="FIELD-NAME" use="required" />
      <xs:attribute name="function" use="required">
	<xs:simpleType>
	  <xs:restriction base="xs:string">
	    <xs:enumeration value="count" />
	    <xs:enumeration value="sum" />
	    <xs:enumeration value="average" />
	    <xs:enumeration value="min" />
	    <xs:enumeration value="max" />
	    <xs:enumeration value="multiset" />
	  </xs:restriction>
	</xs:simpleType>
      </xs:attribute>
      <xs:attribute name="groupField" type="FIELD-NAME" />
      <xs:attribute name="sqlWhere" type="xs:string" />
    </xs:complexType>
  </xs:element>


 

  <xs:element name="MiningSchema">
    <xs:complexType>
      <xs:sequence>
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="Extension" />
	<xs:element maxOccurs="unbounded" ref="MiningField" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="MiningField">
    <xs:complexType>
      <xs:sequence>
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="Extension" />
      </xs:sequence>
      <xs:attribute name="name" type="FIELD-NAME" use="required" />
      <xs:attribute name="usageType" type="FIELD-USAGE-TYPE" default="active" />
      <xs:attribute name="outliers" type="OUTLIER-TREATMENT-METHOD" default="asIs" />
      <xs:attribute name="lowValue" type="NUMBER" />
      <xs:attribute name="highValue" type="NUMBER" />
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="FIELD-USAGE-TYPE">
    <xs:restriction base="xs:string">
      <xs:enumeration value="active" />
      <xs:enumeration value="predicted" />
      <xs:enumeration value="supplementary" />
      <xs:enumeration value="group" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="OUTLIER-TREATMENT-METHOD">
    <xs:restriction base="xs:string">
      <xs:enumeration value="asIs" />
      <xs:enumeration value="asMissingValues" />
      <xs:enumeration value="asExtremeValues" />
    </xs:restriction>
  </xs:simpleType>


 


  <xs:element name="ModelStats">
    <xs:complexType>
      <xs:sequence>
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="Extension" />
	<xs:element maxOccurs="unbounded" ref="UnivariateStats" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>


 

  <xs:element name="UnivariateStats">
    <xs:complexType>
      <xs:sequence>
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="Extension" />
	<xs:element minOccurs="0" maxOccurs="1" ref="Counts" />
	<xs:element minOccurs="0" maxOccurs="1" ref="NumericInfo" />
	<xs:element minOccurs="0" ref="DiscrStats" />
	<xs:element minOccurs="0" ref="ContStats" />
      </xs:sequence>
      <xs:attribute name="field" type="FIELD-NAME" />
    </xs:complexType>
  </xs:element>


 

  <xs:element name="Counts">
    <xs:complexType>
      <xs:attribute name="totalFreq" type="NUMBER" use="required" />
      <xs:attribute name="missingFreq" type="NUMBER" />
      <xs:attribute name="invalidFreq" type="NUMBER" />
    </xs:complexType>
  </xs:element>



 

  <xs:element name="NumericInfo">
    <xs:complexType>
      <xs:sequence>
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="Quantile" />
      </xs:sequence>
      <xs:attribute name="minimum" type="NUMBER" />
      <xs:attribute name="maximum" type="NUMBER" />
      <xs:attribute name="mean" type="NUMBER" />
      <xs:attribute name="standardDeviation" type="NUMBER" />
      <xs:attribute name="median" type="NUMBER" />
      <xs:attribute name="interQuartileRange" type="NUMBER" />
    </xs:complexType>
  </xs:element>


 

  <xs:element name="Quantile">
    <xs:complexType>
      <xs:attribute name="quantileLimit" type="PERCENTAGE-NUMBER" use="required" />
      <xs:attribute name="quantileValue" type="NUMBER" use="required" />
    </xs:complexType>
  </xs:element>


 

  <xs:element name="DiscrStats">
    <xs:complexType>
      <xs:sequence>
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="Extension" />
	<xs:sequence minOccurs="0">
	  <xs:group ref="STRING-ARRAY" />
	</xs:sequence>
	<xs:sequence minOccurs="0">
	  <xs:group ref="INT-ARRAY" />
	</xs:sequence>
      </xs:sequence>
      <xs:attribute name="modalValue" type="xs:string" />
    </xs:complexType>
  </xs:element>


 

  <xs:element name="ContStats">
    <xs:complexType>
      <xs:sequence>
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="Extension" />
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="Interval" />
	<xs:sequence minOccurs="0">
	  <xs:group ref="INT-ARRAY" />
	</xs:sequence>
	<xs:sequence minOccurs="0">
	  <xs:group ref="NUM-ARRAY" />
	</xs:sequence>
	<xs:sequence minOccurs="0">
	  <xs:group ref="NUM-ARRAY" />
	</xs:sequence>
      </xs:sequence>
      <xs:attribute name="totalValuesSum" type="NUMBER" />
      <xs:attribute name="totalSquaresSum" type="NUMBER" />
    </xs:complexType>
  </xs:element>


 


  <xs:element name="Partition">
    <xs:complexType>
      <xs:sequence>
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="PartitionFieldStats" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="size" type="NUMBER" />
    </xs:complexType>
  </xs:element>


 
 

  <xs:element name="PartitionFieldStats">
    <xs:complexType>
      <xs:sequence>
	<xs:element minOccurs="0" maxOccurs="1" ref="Counts" />
	<xs:element minOccurs="0" maxOccurs="1" ref="NumericInfo" />
	<xs:sequence minOccurs="0" maxOccurs="unbounded">
	  <xs:group ref="NUM-ARRAY" />
	</xs:sequence>
      </xs:sequence>
      <xs:attribute name="field" type="FIELD-NAME" use="required" />
    </xs:complexType>
  </xs:element>


 
<xs:element name="NeuralNetwork">
    <xs:complexType>
      <xs:sequence>
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="Extension" />
	<xs:element ref="MiningSchema" />
	<xs:element minOccurs="0" ref="ModelStats" />
	<xs:element ref="NeuralInputs" />
	<xs:element maxOccurs="unbounded" ref="NeuralLayer" />
	<xs:element minOccurs="0" ref="NeuralOutputs" />
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="Extension" />
      </xs:sequence>
      <xs:attribute name="modelName" type="xs:string" />
      <xs:attribute name="functionName" type="MINING-FUNCTION" use="required" />
      <xs:attribute name="algorithmName" type="xs:string" />
      <xs:attribute name="activationFunction" type="ACTIVATION-FUNCTION" use="required" />
      <xs:attribute name="threshold" type="REAL-NUMBER" />
      <xs:attribute name="numberOfLayers" type="xs:nonNegativeInteger" />
    </xs:complexType>
  </xs:element>

  <xs:element name="NeuralInputs">
    <xs:complexType>
      <xs:sequence>
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="Extension" />
	<xs:element maxOccurs="unbounded" ref="NeuralInput" />
      </xs:sequence>
      <xs:attribute name="numberOfInputs" type="xs:nonNegativeInteger" />
    </xs:complexType>
  </xs:element>

<xs:element name="NeuralLayer">
    <xs:complexType>
      <xs:sequence>
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="Extension" />
	<xs:element maxOccurs="unbounded" ref="Neuron" />
      </xs:sequence>
      <xs:attribute name="numberOfNeurons" type="xs:nonNegativeInteger" />
      <xs:attribute name="activationFunction" type="ACTIVATION-FUNCTION" />
      <xs:attribute name="normalizationMethod" default="none">
	<xs:simpleType>
	  <xs:restriction base="xs:string">
	    <xs:enumeration value="none" />
	    <xs:enumeration value="simplemax" />
	    <xs:enumeration value="softmax" />
	  </xs:restriction>
	</xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

<xs:element name="NeuralOutputs">
    <xs:complexType>
      <xs:sequence>
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="Extension" />
	<xs:element maxOccurs="unbounded" ref="NeuralOutput" />
      </xs:sequence>
      <xs:attribute name="numberOfOutputs" type="xs:nonNegativeInteger" />
    </xs:complexType>
  </xs:element>

 
<xs:simpleType name="ACTIVATION-FUNCTION">
    <xs:restriction base="xs:string">
      <xs:enumeration value="threshold" />
      <xs:enumeration value="logistic" />
      <xs:enumeration value="tanh" />
      <xs:enumeration value="identity" />
      <xs:enumeration value="exponential" />
      <xs:enumeration value="reciprocal" />
      <xs:enumeration value="square" />
      <xs:enumeration value="Gauss" />
      <xs:enumeration value="sine" />
      <xs:enumeration value="Elliott" />
      <xs:enumeration value="arctan" />
      <xs:enumeration value="radialBasis" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NN-NEURON-ID">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="NN-NEURON-IDREF">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

 
<xs:element name="NeuralInput">
    <xs:complexType>
      <xs:sequence>
	 <xs:element minOccurs="0" maxOccurs="unbounded" ref="Extension" />
	 <xs:element ref="DerivedField" />
      </xs:sequence>
      <xs:attribute name="id" type="NN-NEURON-ID" use="required" />
    </xs:complexType>
  </xs:element>

 
<xs:element name="Neuron">
    <xs:complexType>
      <xs:sequence>
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="Extension" />
	<xs:element maxOccurs="unbounded" ref="Con" />
      </xs:sequence>
      <xs:attribute name="id" type="NN-NEURON-ID" use="required" />
      <xs:attribute name="bias" type="REAL-NUMBER" />
      <xs:attribute name="activationFunction" type="ACTIVATION-FUNCTION" />
      <xs:attribute name="threshold" type="REAL-NUMBER" />
      <xs:attribute name="width" type="REAL-NUMBER" />
    </xs:complexType>
  </xs:element>


 
<xs:element name="Con">
    <xs:complexType>
      <xs:sequence>
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="Extension" />
      </xs:sequence>
      <xs:attribute name="from" type="NN-NEURON-IDREF" use="required" />
      <xs:attribute name="weight" type="REAL-NUMBER" use="required" />
    </xs:complexType>
  </xs:element>

 
<xs:element name="NeuralOutput">
    <xs:complexType>
      <xs:sequence>
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="Extension" />
	<xs:element ref="DerivedField" />
      </xs:sequence>
      <xs:attribute name="outputNeuron" type="NN-NEURON-IDREF" use="required" />
    </xs:complexType>
  </xs:element>

 


 <xs:element name='ClusteringModel'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='Extension' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element ref='MiningSchema'/>
    <xs:element ref='ModelStats' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='ComparisonMeasure'/>
    <xs:element ref='ClusteringField' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element ref='CenterFields' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='Cluster' maxOccurs='unbounded'/>
    <xs:element ref='Extension' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
   <xs:attribute name='modelName' type='xs:string' use='optional'/>
   <xs:attribute name="functionName" type="MINING-FUNCTION" use="required" />
   <xs:attribute name='algorithmName' type='xs:string' use='optional'/>
   <xs:attribute name='modelClass' use='required'>
    <xs:simpleType>
     <xs:restriction base='string'>
      <xs:enumeration value='centerBased'/>
      <xs:enumeration value='distributionBased'/>
     </xs:restriction>
    </xs:simpleType>
   </xs:attribute>
   <xs:attribute name='numberOfClusters' type='INT-NUMBER' use='required'/>
  </xs:complexType>
 </xs:element>



 <xs:element name='CenterFields'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='DerivedField' maxOccurs='unbounded'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>



 


 <xs:element name='Cluster'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='Extension' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element ref='KohonenMap' minOccurs='0' maxOccurs='1'/>
    <xs:sequence minOccurs='0' maxOccurs='1'>
      <group ref="NUM-ARRAY" />
    </xs:sequence>
    <xs:element ref='Partition' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='Covariances' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
   <xs:attribute name='name' type='xs:string' use='optional'/>
   <xs:attribute name='size' type='xs:nonNegativeInteger' use='optional'/>
  </xs:complexType>
 </xs:element>


 <xs:element name='KohonenMap'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='Extension' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
   <xs:attribute name='coord1' type='xs:float' use='optional'/>
   <xs:attribute name='coord2' type='xs:float' use='optional'/>
   <xs:attribute name='coord3' type='xs:float' use='optional'/>
  </xs:complexType>
 </xs:element>



 

 <xs:element name='Covariances'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='Matrix'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>


 

 <xs:element name='ClusteringField'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='Extension' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element ref='Comparisons' minOccurs='0' maxOccurs='1'/>
   </xs:sequence>
   <xs:attribute name='field' type="FIELD-NAME" use='required'/>
   <xs:attribute name='fieldWeight' type='REAL-NUMBER' use='optional'/>
   <xs:attribute name='similarityScale' type='REAL-NUMBER' use='optional'/>
   <xs:attribute name="compareFunction" type='COMPARE-FUNCTION' use='optional' />
  </xs:complexType>
 </xs:element>


  <xs:simpleType name="COMPARE-FUNCTION">
    <xs:restriction base="string">
      <xs:enumeration value="absDiff" />
      <xs:enumeration value="gaussSim" />
      <xs:enumeration value="delta" />
      <xs:enumeration value="equal" />
      <xs:enumeration value="table" />
    </xs:restriction>
  </xs:simpleType>


 


 <xs:element name='Comparisons'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='Extension' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element ref='Matrix'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>


 


 <xs:element name='Matrix'>
  <xs:complexType>
   <choice minOccurs='0' maxOccurs='1'>
    <xs:sequence maxOccurs='unbounded'>
     <group ref="NUM-ARRAY" />
    </xs:sequence>
    <xs:element ref='MatCell' maxOccurs="unbounded" />
   </choice>
   <xs:attribute name='kind' use='optional' default="any" >
    <xs:simpleType>
     <xs:restriction base='string'>
      <xs:enumeration value='diagonal'/>
      <xs:enumeration value='symmetric'/>
      <xs:enumeration value='any'/>
     </xs:restriction>
    </xs:simpleType>
   </xs:attribute>
   <xs:attribute name='nbRows' type='INT-NUMBER' use='optional'/>
   <xs:attribute name='nbCols' type='INT-NUMBER' use='optional'/>
   <xs:attribute name='diagDefault' type='REAL-NUMBER' use='optional'/>
   <xs:attribute name='offDiagDefault' type='REAL-NUMBER' use='optional'/>
  </xs:complexType>
 </xs:element>



 

 <xs:element name='MatCell'>
  <xs:complexType >
      <xs:simpleContent>
	<xs:extension base="xs:string">
	  <xs:attribute name="row" type='INT-NUMBER' use="required" />
	  <xs:attribute name="col" type='INT-NUMBER' use="required" />
	</xs:extension>
      </xs:simpleContent>
  </xs:complexType>
 </xs:element>



 

  <xs:simpleType name="COMPARE-FUNCTION">
    <xs:restriction base="string">
      <xs:enumeration value="absDiff" />
      <xs:enumeration value="gaussSim" />
      <xs:enumeration value="delta" />
      <xs:enumeration value="equal" />
      <xs:enumeration value="table" />
    </xs:restriction>
  </xs:simpleType>


 




 <xs:element name='ComparisonMeasure'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='Extension' minOccurs='0' maxOccurs='unbounded'/>
    <choice>
     <xs:element ref='euclidean'/>
     <xs:element ref='squaredEuclidean'/>
     <xs:element ref='chebychev'/>
     <xs:element ref='cityBlock'/>
     <xs:element ref='minkowski'/>
     <xs:element ref='simpleMatching'/>
     <xs:element ref='jaccard'/>
     <xs:element ref='tanimoto'/>
     <xs:element ref='binarySimilarity'/>
    </choice>
   </xs:sequence>
   <xs:attribute name='kind' use='required'>
    <xs:simpleType>
     <xs:restriction base='string'>
      <xs:enumeration value='distance'/>
      <xs:enumeration value='similarity'/>
     </xs:restriction>
    </xs:simpleType>
   </xs:attribute>

   <xs:attribute name="compareFunction" type="COMPARE-FUNCTION" use='optional' />
   <xs:attribute name='minimum' type='NUMBER' use='optional'/>
   <xs:attribute name='maximum' type='NUMBER' use='optional'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='euclidean'>
  <xs:complexType/>
 </xs:element>

 <xs:element name='squaredEuclidean'>
  <xs:complexType/>
 </xs:element>

 <xs:element name='cityBlock'>
  <xs:complexType/>
 </xs:element>

 <xs:element name='chebychev'>
  <xs:complexType/>
 </xs:element>

 <xs:element name='minkowski'>
  <xs:complexType>
   <xs:attribute name='p-parameter' type='NUMBER' use='required'/>
  </xs:complexType>
 </xs:element>

 <xs:element name='simpleMatching'>
  <xs:complexType/>
 </xs:element>

 <xs:element name='jaccard'>
  <xs:complexType/>
 </xs:element>

 <xs:element name='tanimoto'>
  <xs:complexType/>
 </xs:element>

 <xs:element name='binarySimilarity'>
  <xs:complexType>
   <xs:attribute name='c00-parameter' type='NUMBER' use='required'/>
   <xs:attribute name='c01-parameter' type='NUMBER' use='required'/>
   <xs:attribute name='c10-parameter' type='NUMBER' use='required'/>
   <xs:attribute name='c11-parameter' type='NUMBER' use='required'/>
   <xs:attribute name='d00-parameter' type='NUMBER' use='required'/>
   <xs:attribute name='d01-parameter' type='NUMBER' use='required'/>
   <xs:attribute name='d10-parameter' type='NUMBER' use='required'/>
   <xs:attribute name='d11-parameter' type='NUMBER' use='required'/>
  </xs:complexType>
 </xs:element>




 

  <xs:element name="AssociationModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Extension" />
        <xs:element ref="MiningSchema" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Item" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Itemset" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="AssociationRule" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Extension" />
      </xs:sequence>
      <xs:attribute name="modelName" type="xs:string" />
      <xs:attribute name="functionName" type="MINING-FUNCTION" use="required" />
      <xs:attribute name="algorithmName" type="xs:string" />
      <xs:attribute name="numberOfTransactions" type="INT-NUMBER" use="required" />
      <xs:attribute name="maxNumberOfItemsPerTA" type="INT-NUMBER" />
      <xs:attribute name="avgNumberOfItemsPerTA" type="REAL-NUMBER" />
      <xs:attribute name="minimumSupport" type="PROB-NUMBER" use="required" />
      <xs:attribute name="minimumConfidence" type="PROB-NUMBER" use="required" />
      <xs:attribute name="lengthLimit" type="INT-NUMBER" />
      <xs:attribute name="numberOfItems" type="INT-NUMBER" use="required" />
      <xs:attribute name="numberOfItemsets" type="INT-NUMBER" use="required" />
      <xs:attribute name="numberOfRules" type="INT-NUMBER" use="required" />
    </xs:complexType>
  </xs:element>


 

  <xs:element name="Item">
    <xs:complexType>
      <xs:attribute name="id" type="xs:string" use="required" />
      <xs:attribute name="value" type="xs:string" use="required" />
      <xs:attribute name="mappedValue" type="xs:string" />
      <xs:attribute name="weight" type="REAL-NUMBER" />
    </xs:complexType>
  </xs:element>



 

  <xs:element name="Itemset">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ItemRef" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Extension" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required" />
      <xs:attribute name="support" type="PROB-NUMBER" />
      <xs:attribute name="numberOfItems" type="INT-NUMBER" />
    </xs:complexType>
  </xs:element>

 

  <xs:element name="ItemRef">
    <xs:complexType>
      <xs:attribute name="itemRef" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

 

  <xs:element name="AssociationRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Extension" />
      </xs:sequence>
      <xs:attribute name="support" type="PROB-NUMBER" use="required" />
      <xs:attribute name="confidence" type="PROB-NUMBER" use="required" />
      <xs:attribute name="antecedent" type="xs:string" use="required" />
      <xs:attribute name="consequent" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>


 

 <xs:element name='TreeModel'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='Extension' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element ref='MiningSchema'/>
    <xs:element ref='ModelStats' minOccurs='0' maxOccurs='1'/>
    <xs:element ref='Node'/>
    <xs:element ref='Extension' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
   <xs:attribute name='modelName' type='xs:string' use='optional'/>
   <xs:attribute name="functionName" type="MINING-FUNCTION" use="required" />
   <xs:attribute name='algorithmName' type='xs:string' use='optional'/>
   <xs:attribute name='splitCharacteristic' use='default' value='multiSplit'>
    <xs:simpleType>
     <xs:restriction base='string'>
      <xs:enumeration value='binarySplit'/>
      <xs:enumeration value='multiSplit'/>
     </xs:restriction>
    </xs:simpleType>
   </xs:attribute>
  </xs:complexType>
 </xs:element>


 

 <xs:element name='Node'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='Extension' minOccurs='0' maxOccurs='unbounded'/>
    <xs:group ref='PREDICATE' />
    <xs:element ref='ScoreDistribution' minOccurs='0' maxOccurs='unbounded'/>
    <xs:element ref='Node' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
   <xs:attribute name='id' type='xs:string' use='optional'/>
   <xs:attribute name='score' type='xs:string' use='required'/>
   <xs:attribute name='recordCount' type='NUMBER' use='optional'/>
  </xs:complexType>
 </xs:element>


 

  <xs:group name="PREDICATE">
    <xs:choice>
      <xs:element ref="SimplePredicate" />
      <xs:element ref="CompoundPredicate" />
      <xs:element ref="SimpleSetPredicate" />
      <xs:element ref="True" />
      <xs:element ref="False" />
    </xs:choice>
  </xs:group>



 

 <xs:element name='SimplePredicate'>
  <xs:complexType>
   <xs:attribute name='field' type="FIELD-NAME" use='required'/>
   <xs:attribute name='operator' use='required'>
    <xs:simpleType>
     <xs:restriction base='string'>
      <xs:enumeration value='equal'/>
      <xs:enumeration value='notEqual'/>
      <xs:enumeration value='lessThan'/>
      <xs:enumeration value='lessOrEqual'/>
      <xs:enumeration value='greaterThan'/>
      <xs:enumeration value='greaterOrEqual'/>
      <xs:enumeration value='isMissing'/>
      <xs:enumeration value='isNotMissing'/>
     </xs:restriction>
    </xs:simpleType>
   </xs:attribute>
   <xs:attribute name='value' type='xs:string' use='optional'/>
  </xs:complexType>
 </xs:element>


 

 <xs:element name='CompoundPredicate'>
  <xs:complexType>
   <xs:sequence minOccurs='2' maxOccurs='unbounded'>
    <xs:group ref='PREDICATE' />
   </xs:sequence>
   <xs:attribute name='booleanOperator' use='required'>
    <xs:simpleType>
     <xs:restriction base='string'>
      <xs:enumeration value='or'/>
      <xs:enumeration value='and'/>
      <xs:enumeration value='xor'/>
      <xs:enumeration value='surrogate'/>
     </xs:restriction>
    </xs:simpleType>
   </xs:attribute>
  </xs:complexType>
 </xs:element>


 

 <xs:element name='SimpleSetPredicate'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='Array'/>
   </xs:sequence>
   <xs:attribute name='field' type="FIELD-NAME" use='required'/>
   <xs:attribute name='booleanOperator' use='required'>
    <xs:simpleType>
     <xs:restriction base='string'>
      <xs:enumeration value='isIn'/>
      <xs:enumeration value='isNotIn'/>
     </xs:restriction>
    </xs:simpleType>
   </xs:attribute>
  </xs:complexType>
 </xs:element>


 

 <xs:element name='True'>
  <xs:complexType/>
 </xs:element>


 

 <xs:element name='False'>
  <xs:complexType/>
 </xs:element>


 

 <xs:element name='ScoreDistribution'>
  <xs:complexType>
   <xs:attribute name='value' type='xs:string' use='required'/>
   <xs:attribute name='recordCount' type='NUMBER' use='required'/>
  </xs:complexType>
 </xs:element>


 

<xs:element name="RegressionModel">
    <xs:complexType>
      <xs:sequence>
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="Extension" />
	<xs:element ref="MiningSchema" />
	<xs:element minOccurs="0" ref="ModelStats" />
	<xs:element maxOccurs="unbounded" ref="RegressionTable" />
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="Extension" />
      </xs:sequence>
      <xs:attribute name="modelName" type="xs:string" />
      <xs:attribute name="functionName" type="MINING-FUNCTION" use="required" />
      <xs:attribute name="algorithmName" type="xs:string" />
      <xs:attribute name="modelType" use="required">
	<xs:simpleType>
	  <xs:restriction base="xs:string">
	    <xs:enumeration value="linearRegression" />
	    <xs:enumeration value="stepwisePolynomialRegression" />
	    <xs:enumeration value="logisticRegression" />
	  </xs:restriction>
	</xs:simpleType>
      </xs:attribute>
      <xs:attribute name="targetFieldName" type="FIELD-NAME" use="required" />
      <xs:attribute name="normalizationMethod" default="none">
	<xs:simpleType>
	  <xs:restriction base="xs:string">
	    <xs:enumeration value="none" />
	    <xs:enumeration value="simplemax" />
	    <xs:enumeration value="softmax" />
	  </xs:restriction>
	</xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegressionTable">
    <xs:complexType>
      <xs:sequence>
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="NumericPredictor" />
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="CategoricalPredictor" />
      </xs:sequence>
      <xs:attribute name="intercept" type="REAL-NUMBER" use="required" />
      <xs:attribute name="targetCategory" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="NumericPredictor">
    <xs:complexType>
      <xs:attribute name="name" type="FIELD-NAME" use="required" />
      <xs:attribute name="exponent" type="INT-NUMBER" use="required" />
      <xs:attribute name="coefficient" type="REAL-NUMBER" use="required" />
      <xs:attribute name="mean" type="REAL-NUMBER" />
    </xs:complexType>
  </xs:element>
  <xs:element name="CategoricalPredictor">
    <xs:complexType>
      <xs:attribute name="name" type="FIELD-NAME" use="required" />
      <xs:attribute name="value" type="xs:string" use="required" />
      <xs:attribute name="coefficient" type="REAL-NUMBER" use="required" />
    </xs:complexType>
  </xs:element>


 
 <xs:element name="GeneralRegressionModel">
    <xs:complexType>
      <xs:sequence>
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="Extension" />
	<xs:element minOccurs="0" ref="MiningSchema" />
	<xs:element minOccurs="0" ref="ModelStats" />
	<xs:element ref="ParameterList" />
	<xs:element minOccurs="0" ref="FactorList" />
	<xs:element minOccurs="0" ref="CovariateList" />
	<xs:element minOccurs="0" ref="PPMatrix" />
	<xs:element minOccurs="0" ref="PCovMatrix" />
	<xs:element ref="ParamMatrix" />
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="Extension" />
      </xs:sequence>
      <xs:attribute name="targetVariableName" type="FIELD-NAME" use="required" />
      <xs:attribute name="modelType" use="required">
	<xs:simpleType>
	  <xs:restriction base="xs:string">
	    <xs:enumeration value="regression" />
	    <xs:enumeration value="generalLinear" />
	    <xs:enumeration value="logLinear" />
	    <xs:enumeration value="multinomialLogistic" />
	  </xs:restriction>
	</xs:simpleType>
      </xs:attribute>
      <xs:attribute name="modelName" type="xs:string" />
      <xs:attribute name="functionName" type="MINING-FUNCTION" use="required" />
      <xs:attribute name="algorithmName" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="ParameterList">
    <xs:complexType>
      <xs:sequence>
	<xs:element maxOccurs="unbounded" ref="Parameter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Parameter">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="label" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="FactorList">
    <xs:complexType>
      <xs:sequence>
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="Predictor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CovariateList">
    <xs:complexType>
      <xs:sequence>
	<xs:element minOccurs="0" maxOccurs="unbounded" ref="Predictor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Predictor">
    <xs:complexType>
      <xs:attribute name="name" type="FIELD-NAME" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="PPMatrix">
    <xs:complexType>
      <xs:sequence>
	<xs:element maxOccurs="unbounded" ref="PPCell" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PPCell">
    <xs:complexType>
      <xs:attribute name="value" type="xs:string" use="required" />
      <xs:attribute name="predictorName" type="FIELD-NAME" use="required" />
      <xs:attribute name="parameterName" type="xs:string" use="required" />
      <xs:attribute name="targetCategory" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="PCovMatrix">
    <xs:complexType>
      <xs:sequence>
	<xs:element maxOccurs="unbounded" ref="PCovCell" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PCovCell">
    <xs:complexType>
      <xs:attribute name="pRow" type="xs:string" use="required" />
      <xs:attribute name="pCol" type="xs:string" use="required" />
      <xs:attribute name="tRow" type="xs:string" />
      <xs:attribute name="tCol" type="xs:string" />
      <xs:attribute name="value" type="REAL-NUMBER" use="required" />
      <xs:attribute name="targetCategory" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="ParamMatrix">
    <xs:complexType>
      <xs:sequence>
	<xs:element maxOccurs="unbounded" ref="PCell" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PCell">
    <xs:complexType>
      <xs:attribute name="targetCategory" type="xs:string" use="required" />
      <xs:attribute name="parameterName" type="xs:string" use="required" />
      <xs:attribute name="beta" type="REAL-NUMBER" use="required" />
      <xs:attribute name="df" type="INT-NUMBER" />
    </xs:complexType>
  </xs:element>

 
<xs:element name="SequenceModel">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="Extension" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="MiningSchema"/>
			<xs:element ref="Item" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Itemset" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="SetPredicate" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Sequence" maxOccurs="unbounded"/>
			<xs:element ref="SequenceRule" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Extension" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="modelName" type="xs:string"/>
		<xs:attribute name="functionName" type="MINING-FUNCTION" use="required"/>
		<xs:attribute name="algorithmName" type="xs:string"/>
		<xs:attribute name="numberOfTransactions" type="INT-NUMBER" use="required"/>
		<xs:attribute name="maxNumberOfItemsPerTransaction" type="INT-NUMBER"/>
		<xs:attribute name="avgNumberOfItemsPerTransaction" type="REAL-NUMBER"/>
		<xs:attribute name="minimumSupport" type="REAL-NUMBER" use="required"/>
		<xs:attribute name="minimumConfidence" type="REAL-NUMBER" use="required"/>
		<xs:attribute name="lengthLimit" type="INT-NUMBER"/>
		<xs:attribute name="numberOfItems" type="INT-NUMBER" use="required"/>
		<xs:attribute name="numberOfSets" type="INT-NUMBER" use="required"/>
		<xs:attribute name="numberOfSequences" type="INT-NUMBER" use="required"/>
		<xs:attribute name="numberOfRules" type="INT-NUMBER" use="required"/>
		<xs:attribute name="timeWindowWidth" type="INT-NUMBER"/>
		<xs:attribute name="minimumTime" type="INT-NUMBER"/>
		<xs:attribute name="maximumTime" type="INT-NUMBER"/>
	</xs:complexType>
</xs:element> 


 
<xs:simpleType name="ELEMENT-ID">  
    <restriction base="xs:string">
    </restriction>
</xs:simpleType>

<xs:element name="SetPredicate">
    <xs:complexType>
	  <xs:group ref="STRING-ARRAY"/>
	  <xs:attribute name="id" type="ELEMENT-ID" use="required"/>
	  <xs:attribute name="field" type="FIELD-NAME" use="required"/>
	  <xs:attribute name="operator" type="xs:string" fixed="supersetOf"/>
    </xs:complexType>
</xs:element>


 
<xs:simpleType name="DELIMITER">
	<xs:restriction base="xs:string">
		<xs:enumeration value="sameTimeWindow"/>
		<xs:enumeration value="acrossTimeWindows"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="GAP">
	<xs:restriction base="xs:string">
		<xs:enumeration value="true"/>
		<xs:enumeration value="false"/>
		<xs:enumeration value="unknown"/>
	</xs:restriction>
</xs:simpleType>

<xs:element name="Delimiter">
	<xs:complexType>
		<xs:attribute name="delimiter" type="DELIMITER" use="required"/>
		<xs:attribute name="gap" type="GAP" use="required"/>
	</xs:complexType>
</xs:element>

 
<xs:element name="Time">
	<xs:complexType>
		<xs:attribute name="min" type="NUMBER" use="required"/>
		<xs:attribute name="max" type="NUMBER" use="required"/>
		<xs:attribute name="mean" type="NUMBER"/>
	</xs:complexType>
</xs:element>

 
<xs:group name="FOLLOW-SET">
	<xs:element ref="Delimiter"/>
	<xs:element ref="SetReference"/>
</xs:group>

<xs:element name="Sequence">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="SetReference"/>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:group ref="FOLLOW-SET"/>
			</xs:sequence>
		</xs:sequence>
		<xs:attribute name="id" type="ELEMENT-ID" use="required"/>
		<xs:attribute name="numberOfSets" type="INT-NUMBER"/>
		<xs:attribute name="occurrence" type="INT-NUMBER"/>
		<xs:attribute name="support" type="REAL-NUMBER"/>
	</xs:complexType>
</xs:element>

 
<xs:element name="SetReference">
	<xs:complexType>
		<xs:attribute name="setId" type="ELEMENT-ID" use="required"/>
	</xs:complexType>
</xs:element>

 
<xs:element name="SequenceRule">
	<xs:complexType>
		<xs:sequence>
			<xs:element ref="Extension" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="AntecedentSequence"/>
			<xs:element ref="Delimiter"/>
			<xs:element ref="Time" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ConsequentSequence"/>
		</xs:sequence>
		<xs:attribute name="id" type="ELEMENT-ID" use="required"/>
		<xs:attribute name="numberOfSets" type="INT-NUMBER" use="required"/>
		<xs:attribute name="occurrence" type="INT-NUMBER" use="required"/>
		<xs:attribute name="support" type="REAL-NUMBER" use="required"/>
		<xs:attribute name="confidence" type="REAL-NUMBER" use="required"/>
	</xs:complexType>
</xs:element>

 
<xs:group name="SEQUENCE">
	<xs:element ref="SequenceReference"/>
	<xs:element ref="Time" minOccurs="0" maxOccurs="unbounded"/>
</xs:group>

<xs:element name="SequenceReference">
	<xs:complexType>
		<xs:attribute name="seqId" type="ELEMENT-ID" use="required"/>
	</xs:complexType>
</xs:element>
<xs:element name="AntecedentSequence">
	<xs:complexType>
		<xs:group ref="SEQUENCE"/>
	</xs:complexType>
</xs:element>
<xs:element name="ConsequentSequence">
	<xs:complexType>
		<xs:group ref="SEQUENCE"/>
	</xs:complexType>
</xs:element>

 
  <xs:element name="NaiveBayesModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Extension" />
        <xs:element ref="MiningSchema" />
        <xs:element minOccurs="0" ref="ModelStats" />
        <xs:element ref="BayesInputs" />
        <xs:element ref="BayesOutput" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Extension" />
      </xs:sequence>
      <xs:attribute name="modelName" type="xs:string" />
      <xs:attribute name="threshold" type="REAL-NUMBER" use="required" />
      <xs:attribute name="functionName" type="MINING-FUNCTION" use="required" />
      <xs:attribute name="algorithmName" type="xs:string" />
    </xs:complexType>
  </xs:element>
 
  <xs:element name="BayesInputs">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="BayesInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
 
  <xs:element name="BayesInput">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Extension" />
        <xs:element minOccurs="0" ref="DerivedField" />
        <xs:element maxOccurs="unbounded" ref="PairCounts" />
      </xs:sequence>
      <xs:attribute name="fieldName" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
 
  <xs:element name="BayesOutput">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Extension" />
        <xs:element ref="TargetValueCounts" />
      </xs:sequence>
      <xs:attribute name="fieldName" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
 
  <xs:element name="PairCounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="TargetValueCounts" />
      </xs:sequence>
      <xs:attribute name="value" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
 
  <xs:element name="TargetValueCounts">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="TargetValueCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TargetValueCount">
    <xs:complexType>
      <xs:attribute name="value" type="xs:string" use="required" />
      <xs:attribute name="count" type="REAL-NUMBER" use="required" />
    </xs:complexType>
  </xs:element>
 

</xs:schema>
