org.knime.base/src/org/knime/base/node/preproc/pmml/missingval/utils/MissingCellHandlerV1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This XSD describes missing cell handler description introduced with KNIME 2.12. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://knime.org/missingval/v1.0"
	targetNamespace="http://knime.org/missingval/v1.0">
	<xs:element name="missingcellhandler">
		<xs:complexType>
		    <xs:simpleContent>
		          <xs:extension base="xs:string">
			        <xs:attribute name="name" type="xs:string" use="required" />
                    <xs:attribute name="deprecated" default="false" type="xs:boolean" />
			      </xs:extension>
		    </xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
